:root {
    --font-title: 'Inter';
    --font-body: 'Lato';

    --color-background: #FEFEFe;

    --color-primary:#070607;
    --color-secondary: #20768D;
    --color-tertiary: #8E1522;

    --color-text-primary: #1E1E1E;
    --color-text-secondary: #637E86;

  }
  #background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; 
  }
  
  .body-container {
   height: 100vh;
   display: flex; 
   /* overflow: hidden; */
 }
 .content-row{
  background-color: rgba(255, 255, 255, 0.507);
 }
 aside.left {
   position: sticky;
   top: 0;
   height: 100vh;
   /* overflow: hidden; */
   overflow-y: auto;
   /* z-index: -1; */
 }
 
 main.right {
   min-height: 100vh;
   overflow-y: auto;
   
 }
 .arrow-link{
  width: 1em; height: 1em; vertical-align: middle; transition: transform 0.3s ease;
 }
 a:hover .arrow-link{
  transform: translateY(-6px);
 }

 body{
    font-family: var(--font-body);
    background-color: var(--color-background);
    color: var(--color-text-primary)
  }

 

  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-title);
  }
  a {
    text-decoration: none;
  }

  .title-presentation{
    font-size: 3.8rem;
    font-weight: 900;
  }

 .first-name{
    font-family: var(--font-title);
 }

 .last-name{
    font-family: var(--font-title);
    color: var(--color-secondary);
 }

 .role-title{
    color: var(--color-tertiary);
    font-weight: 600;
 }

.nav a {
  font-family: var(--font-title);
  color: var(--color-text-secondary); 
  font-weight: 600;
  text-decoration: none; 
  transition: color 0.3s ease; 
}

.nav li {
  list-style: none;
  margin: 1.3rem 0;
  display: flex; 
  align-items: center; 
  padding-left: 0; 
}


.nav li::before {
  content: ''; 
  display: inline-block; 
  height: 2px; 
  background-color: var(--color-text-secondary); 
  width: 20px; 
  margin-right: 15px; 
  transition: width 0.3s ease, background-color 0.3s ease; 
}


.nav li.select-nav {
  margin: 1.7rem 0; 
}

.select-nav a {
  font-size: 2rem;
  font-weight: 700;
  color: var(--color-primary); 
}


.nav li.select-nav::before {
  width: 50px; 
  background-color: var(--color-primary); 
}


.nav li:hover::before {
  width: 30px; 
  background-color: var(--color-primary); 
}

.nav li a:hover {
  color: var(--color-primary); 
}


.nav ul {
  padding: 0;
  margin: 0;
}

 .network a{
    font-size: 1.2rem;
   color: #515152;
    font-weight: 600;
    transition: color 0.2s ease;
 }
 .network a:hover{
  color:var(--color-primary);
}

 .network-items a{
  color: var(--color-primary);
  padding: 0.4rem;

 }
 .line-node{
  background-color: #070607;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  left: -6px;
  position: absolute;
 }

 .title-work{
  color: var(--color-secondary);
  font-weight: 600;
  font-size: 1.6rem;
 }
 .place-work{
  font-size: large;
 }
 .date-work{
  font-size: large;
 }
 .timeline{
  position: relative;
 }

.line {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 3px;
  background: var(--color-primary);
}
.project h3{
  color: var(--color-secondary);
  font-weight: 600;
  font-size: 1.6rem;
}

.group-skills h3{
  color: var(--color-secondary);
  font-weight: 600;
  font-size: 1.6rem;
}

.bubble-skill{
  display: inline-block;
  padding: 0.2rem 0.8rem;
  margin: 0 0.2rem;
  font-size: 0.7rem;
  background-color: #637E86;
  color: #FEFEFe;
  border-radius: 1px;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.bubble-skill:hover{
  transform: translateX(2px);
  background-color: #506166;
}

.reference a{
  padding: 0 0.5rem;
  font-size: 0.9rem;
  color: #515152;
  font-weight: 600;
  transition: color 0.2s ease;
}
.reference a:hover{
color:var(--color-primary);
}

.reference a:hover .arrow-link{
  transform: translateY(-4px);
 }
 .bubble{
  margin: 0.8rem 0;
 }

 
 .Lenguages-icons img {
  font-size: 2.2rem;
  margin-right: 0.8rem;
  vertical-align: middle;
  filter: grayscale(100%) brightness(0.5);
  transition: transform 0.3s ease, filter 0.3s ease;
}

.Lenguages-icons img:hover {
  transform: scale(1.1);
  filter: grayscale(0%) brightness(1); /* vuelve a color normal */
}
